@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;800;900&display=swap');


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}

.box-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:auto;
    height: 12vh;
    width: 90%;
}

.box-portflow{
    font-weight: bold;
}

.box-ul{
    display: flex;
    list-style: none;
}

li{
    font-weight: lighter;
    margin-left: 2vw;
    width: 5vw;
}   

li:hover{
    font-weight: bold;
    cursor: pointer;   
}

.box-fruit{
    background-image: url(pictures/laranja\ azul\ recorte.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80vh;
    margin-bottom: 5%;
    color: #ffffff;  
}

.box-subtitle{
    font-size: 53px;
    margin-top: 5%;
    margin-left: 9vw;
}

.box-paragrapy{
    font-weight: lighter;
    font-size: 25px;
    margin-top: 3%;
    margin-left: 9vw;
}

.box-imgs{
    display: flex;
    justify-content: center;  
    flex-wrap: wrap;
    align-items: center;
    width: 100%; 
}

.box-products{
    margin-bottom: 0.8%;
    margin-left: 0.8%;  
}

.box-img-start{
    height: 50vh;  
}

.box-footer{
    display: flex;
    height: 10vh;
    margin-top: 4%;
    width: 80%;
    margin-left: 5vw;
}

.box-redessoc{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 20%;
    margin-left: 2vw;
}

.imgs-redessoc{
    height: 4vh;
    width: 100%;
}

.imgs-redessoc:hover{
    cursor: pointer;
}

.box-exclusive{
    display: flex;
    align-items: center;
    margin: auto;
    width: 65%;
    font-size: 12px;
}

.box-copy{
    font-weight: bold;
    margin-right: 2vw;
}

.box-layout{
    font-weight: lighter;
    width: 82%;
}

.box-button{
    display: none;
}

@media(max-width: 1110px){

li{
    margin-left: 4vw;
    width: 6vw;
}

.box-subtitle{
    font-size: 25px;
    margin-left: 2vw;
}

.box-paragrapy{
    font-size: 20px;
    margin-left: 2vw;
}


.box-imgs{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.box-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
}

.box-redessoc{
    margin: 0vh;
    width: 50%;
}

.box-end{
    display: flex;
    justify-content: center;
}

.box-exclusive{
    display: inline-block;
}

.box-copy{
    display: flex;
    justify-content: center;
}

.box-layout{
    width: 90%;
}


}

@media(max-width: 750px){

    nav{ 
        display: none;
    }
}

@media(max-width: 425px){

    nav{
        display: none;
    }

    .box-header{
        background-image: url(pictures/menu2.png);
        background-repeat: no-repeat;
        background-size: cover;
        width: 21vw;
        margin: 0;
    }
    
    .box-portflow{
        display: flex;
        justify-content: center;
        width: 100vw;
    }

    .box-fruit{
        background-image: url(pictures/laranja\ azul\ mob.png);
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 135vh;
        color: #ffffff;
    }
    
    .box-subtitle{
        font-size: 60px;
        margin-left: 8vw;
        margin-top: 100%; 
    }
    
    .box-paragrapy{
        font-size: 22px;
        margin-left: 8vw;
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .box-footer{
        height: auto;
        width: 78vw;
    }

    .box-redessoc{
        background-color: #7FDBD4;
        margin-bottom: 5%;
        height: 10vh;
        width: 82%;
        margin-left: 12vw;
    }

    .box-end{
        display: flex;
        width: 68vw;
        margin-left: 10vw;
    }

    .box-copy{
        display:flex;
        justify-content: flex-start;
    }

    .box-layout{
        font-size: 8px;
        width: 50vw;
    }

    .box-button{
        height: 5vh;
        width: 11vw;
        margin-top: 20vh;
        margin-bottom: 2vh;
        margin-top: 5vh;
        color: #CCCCCC;
        background-color: #333333;
        cursor: pointer;
        list-style:none;
        text-decoration: none;
        display: block;
    }

    
}


    


