@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;800;900&display=swap');


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    
}

.box-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:auto;
    height: 12vh;
    width: 90%;
    
}

.box-portflow{
    font-weight: bold;
   
}

.box-ul{
    display: flex;
    list-style: none;

}

li{
    font-weight: lighter;
    margin-left: 2vw;
    width: 5vw;

}   

li:hover{
    font-weight: bold;
    cursor: pointer;
      
}

.box-fruit{
    background-image: url(pictures/laranja\ azul\ recorte.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80vh;
    margin-bottom: 5%;
    color: #ffffff;
    
}

.box-subtitle{
    font-size: 53px;
    margin-top: 5%;
    margin-left: 9vw;
}

.box-paragrapy{
    font-weight: lighter;
    font-size: 25px;
    margin-top: 3%;
    margin-left: 9vw;

}

.box-imgs{
    display: flex;
    justify-content: center;  
    
}

.box-products{
    margin-bottom: 0.5%;
    margin-left: 0.5%;  

}

.box-img-start{
    height: 40vh;
      
}

.box-footer{
    display: flex;
    height: 10vh;
    margin-top: 4%;
}

.box-redessoc{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 20%;
    margin-left: 11vw;
  
}

.imgs-redessoc{
    height: 4vh;
    width: 100%;
}

.imgs-redessoc:hover{
    cursor: pointer;

}

.box-exclusive{
    display: flex;
    align-items: center;
    margin: auto;
    width: 55%;
    font-size: 12px;
}

.box-copy{
    font-weight: bold;
    margin-right: 2vw;
}

.box-layout{
    font-weight: lighter;
    width: 65%;
}

@media(max-width: 1000px){

nav{
    display: none;
}

.box-subtitle{
    font-size: 25px;
    margin-left: 2vw;
    
}

.box-paragrapy{
    font-size: 20px;
    margin-left: 2vw;
    
     
}


.box-imgs{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.box-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 20vh;
}

.box-redessoc{
    margin: 0vh;
    width: 50%;
}

.box-exclusive{
    display: inline-block;
    
}

.box-copy{
    display: flex;
    justify-content: center;
}

.box-layout{
    width: 90%;
}

}

@media(max-width: 425px){

    nav {
        display: none;
    }

   .box-footer{
       display: none;
   }

   .box-imgs{
       display: none;
   }

    .box-header{
        background-image: url(pictures/menu2.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 60px;
        width: 80px;
        margin: 0;
    }
    
    .box-portflow{
        display: flex;
        justify-content: center;
        width: 100vh;
        
    }

    .box-fruit{
        background-image: url(pictures/laranja\ azul\ mob.png);
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 210vh;
        color: #ffffff;
    
    }
    
    .box-subtitle{
        margin-top: 130vh; 
        font-size: 14vh;  
        
    }
    
    .box-paragrapy{
        margin:0;
        font-size: 6vh;
       
    }

}


    


